body {
  margin: 0;
  font-family:  Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(180deg, rgb(200,225, 255), white); */
  overflow:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hovered:hover{
  font-weight: bold;
  transform: scale(1.1);
  transition: 0.3s;
}

.fade-in {
  animation: fadeIn 0.3s ease-in forwards;
  opacity: 0;
}

.fade-out {
  animation: fadeOut 0.3s ease-out;
  opacity: 0;
}   

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.page-title { 
  font-size: 32px;
  font-family: Arial;
}

